.news {
    &__titles {
        display: flex;

        .font-medium();
        font-size: 16px;
        color: @color-title-not-active;
    }

    &__title {
        color: inherit;
        margin-right: 10px;

        &:last-of-type {
            margin-right: 2px;
        }

        &._active {
            color: @color-title;

            &:hover {
                .hover-change-color();
            }
        }
    }

    &__rates {
        display: flex;
        margin-top: 7px;
        width: 343px;
        justify-content: space-between;
    }

    &:hover .title-settings {
        opacity: 0.24;

        &:hover {
            opacity: 1;
        }
    }
}
