.rate {
    .font-base();
    font-size: 13px;
    color: @color-black;

    &__name {
        margin-right: 4px;
        color: inherit;
    }

    &__value {
        margin-right: 2px;
        font-size: 12px;        
    }

    &__difference {
        color: @color-difference-rate;
    }
}