.traffic-jams {
    color: @color-black;
    .font-base();
    font-size: 16px;

    &__titles {
        display: flex;
        align-items: flex-end;
    }

    &__title {
        margin-right: 8px;

        .font-medium();
        color: @color-title;
    }

    &__subtitle {
        margin-right: 8px;

        color: @color-title;
        font-size: 13px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        margin-top: 6px;
    }

    &__main {
        display: flex;
    }

    &__img-main {
        height: 38px;
        width: 38px;
        margin-right: 12px;
    }

    &__value-main {
        margin-right: 15px;

        color: inherit;
        font-size: 26px;
    }

    &__text {
        color: inherit;
        font-size: 13px;
    }

    &:hover .title-settings {
       opacity: 0.24;

       &:hover {
        opacity: 1;
    }
    }
}
